# Table of Content

- Student name: Gamze Turan
- Student pace: self paced 
- Scheduled project review date/time:
- Instructor name: Claude Fried 
- Blog post URL:

## Movie Data Analysis

> Business situation: Microsoft wants to start a film company.

## Data Understanding

In [111]:
import pandas as pd

In [112]:
df_bom_gross = pd.read_csv('data/bom.movie_gross.csv.gz')
df_imdb_basics = pd.read_csv('data/imdb.title.basics.csv.gz')
df_imdb_rating = pd.read_csv('data/imdb.title.ratings.csv.gz')

In [113]:
df_bom_gross.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [114]:
df_imdb_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tconst           146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [115]:
df_imdb_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         73856 non-null  object
 1   averagerating  73856 non-null  float64
 2   numvotes       73856 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

# Bom Movie Data

In [116]:
df_bom_gross = pd.read_csv('data/bom.movie_gross.csv.gz')
df_bom_gross

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [117]:
df_bom_gross['domestic_gross'].value_counts()

1100000.0      32
1000000.0      30
1300000.0      30
1200000.0      25
1400000.0      23
               ..
68800.0         1
87000000.0      1
739000.0        1
336000000.0     1
727000.0        1
Name: domestic_gross, Length: 1797, dtype: int64

In [118]:
df_bom_gross['foreign_gross'].value_counts()

1200000      23
1100000      14
1900000      12
4200000      12
2500000      11
             ..
98300000      1
210700000     1
218000        1
55300000      1
116100000     1
Name: foreign_gross, Length: 1204, dtype: int64

In [119]:
df_bom_gross['year'].value_counts()

2015    450
2016    436
2012    400
2011    399
2014    395
2013    350
2010    328
2017    321
2018    308
Name: year, dtype: int64

# Imdb Data

In [120]:
df_imdb_basics = pd.read_csv('data/imdb.title.basics.csv.gz')
df_imdb_basics

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho TeÃ³philo - O Legado de um Pioneiro,Rodolpho TeÃ³philo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,2013,NaN,Documentary

In [121]:
df_imdb_basics['start_year'].value_counts()

2017    17504
2016    17272
2018    16849
2015    16243
2014    15589
2013    14709
2012    13787
2011    12900
2010    11849
2019     8379
2020      937
2021       83
2022       32
2023        5
2024        2
2027        1
2026        1
2025        1
2115        1
Name: start_year, dtype: int64

In [122]:
df_imdb_basics['genres'].value_counts()

Documentary                  32185
Drama                        21486
Comedy                        9177
Horror                        4372
Comedy,Drama                  3519
                             ...
History,Horror,Mystery           1
History,Sci-Fi,Thriller          1
Documentary,Music,Western        1
Adventure,Horror,Western         1
Documentary,Musical,War          1
Name: genres, Length: 1085, dtype: int64

In [123]:
df_imdb_rating = pd.read_csv('data/imdb.title.ratings.csv.gz')
df_imdb_rating

           tconst  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]

In [124]:
df_imdb_rating['averagerating'].value_counts()

7.0     2262
6.6     2251
7.2     2249
6.8     2239
6.5     2221
        ...
9.6       18
10.0      16
9.8       15
9.7       12
9.9        5
Name: averagerating, Length: 91, dtype: int64

In [125]:
df_imdb_rating['numvotes'].value_counts()

6        2875
5        2699
7        2476
8        2167
9        1929
         ...
18286       1
16289       1
1958        1
4007        1
4098        1
Name: numvotes, Length: 7349, dtype: int64

# Data Cleaning

In [127]:
df_bom_gross.duplicated().value_counts()

False    3387
dtype: int64

In [128]:
# NaN values in the datasets
df_bom_gross.isna().sum()

title                0
studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64

In [129]:
# rows containing missing values
df_bom_gross = df_bom_gross.dropna()
df_bom_gross.isna().sum()

title             0
studio            0
domestic_gross    0
foreign_gross     0
year              0
dtype: int64

In [130]:
# checking preassigned code or symbol returning unique value
print("Value for Title", df_bom_gross.title.unique())
print("Value for Froreign Gross", df_bom_gross.foreign_gross.unique())
print("Value for Studio", df_bom_gross.studio.unique())
print("Value for Domestic Gross", df_bom_gross.domestic_gross.unique())
print("Value for Year", df_bom_gross.year.unique())

Value for Title ['Toy Story 3' 'Alice in Wonderland (2010)'
 'Harry Potter and the Deathly Hallows Part 1' ... 'Time Freak'
 'Reign of Judges: Title of Liberty - Concept Short'
 'Antonio Lopez 1970: Sex Fashion & Disco']
Value for Froreign Gross ['652000000' '691300000' '664300000' ... '530000' '256000' '30000']
Value for Studio ['BV' 'WB' 'P/DW' 'Sum.' 'Par.' 'Uni.' 'Fox' 'Wein.' 'Sony' 'FoxS' 'SGem'
 'WB (NL)' 'LGF' 'MBox' 'CL' 'W/Dim.' 'CBS' 'Focus' 'MGM' 'Over.' 'Mira.'
 'IFC' 'CJ' 'NM' 'SPC' 'ParV' 'Gold.' 'JS' 'RAtt.' 'Magn.' 'Free' '3D'
 'UTV' 'Rela.' 'Zeit.' 'Anch.' 'PDA' 'Lorb.' 'App.' 'Drft.' 'Osci.' 'IW'
 'Rog.' 'Eros' 'Relbig.' 'Viv.' 'Hann.' 'Strand' 'NGE' 'Scre.' 'Kino'
 'Abr.' 'CZ' 'ATO' 'First' 'GK' 'FInd.' 'NFC' 'TFC' 'Pala.' 'Imag.' 'NAV'
 'Arth.' 'CLS' 'Mont.' 'Olive' 'CGld' 'FOAK' 'IVP' 'Yash' 'ICir' 'WOW'
 'FM' 'FD' 'Vari.' 'TriS' 'ORF' 'IM' 'Elev.' 'Cohen' 'NeoC' 'Jan.' 'MNE'
 'Trib.' 'Vita.' 'Rocket' 'OMNI/FSR' 'KKM' 'Argo.' 'Libre' 'FRun' 'P4'
 'KC' 'MPFT' 'Icar.' 'AGF' 'NYer' 'LG/S' 'WHE' 'WGUSA' 'MPI' 'RTWC' 'FIP'
 'RF' 'KL' 'ArcEnt' 'PalUni' 'EpicPics' 'EOne' 'AF' 'LD' 'TFA' 'WAMCR'
 'PM&E' 'A24' 'Distrib.' 'Imax' 'PH' 'Da.' 'E1' 'Shout!' 'SV' 'CE' 'VPD'
 'KE' 'Outs' 'HTR' 'DR' 'Ampl.' 'CP' 'BGP' 'Crnth' 'LGP' 'EC' 'FUN' 'STX'
 'BG' 'PFR' 'BST' 'FCW' 'U/P' 'UHE' 'FR' 'Orch.' 'PBS' 'ITL' 'AR' 'JBG'
 'BH Tilt' 'Zee' 'HC' 'GrtIndia' 'PNT' 'Neon' 'Good Deed' 'ParC' 'Amazon'
 'BBC' 'Affirm' 'Annapurna' 'MOM' 'Studio 8' 'Global Road' 'Trafalgar'
 'ENTMP' 'Greenwich' 'Spanglish' 'Blue Fox' 'Aviron' 'VE' 'Grindstone'
 'Darin Southa']
Value for Domestic Gross [4.150e+08 3.342e+08 2.960e+08 ... 4.910e+05 7.250e+05 9.320e+04]
Value for Year [2010 2011 2012 2013 2014 2015 2016 2017 2018]

In [110]:
df_bom_gross.domestic_gross.value_counts(normalize=True)

1500000.0     0.006976
1000000.0     0.006477
1300000.0     0.005979
1100000.0     0.005481
1600000.0     0.004983
                ...
64300000.0    0.000498
41100000.0    0.000498
46400000.0    0.000498
677000.0      0.000498
45900000.0    0.000498
Name: domestic_gross, Length: 1295, dtype: float64

In [104]:
# checking for extraneous value
for col in df_bom_gross.columns:
    print(col, '\n', df_bom_gross[col].value_counts(normalize=True).head(), '\n\n')

title
 A Perfect Day           0.000498
The Greatest (2010)     0.000498
No Problem              0.000498
Filth                   0.000498
Thor: The Dark World    0.000498
Name: title, dtype: float64


studio
 Uni.    0.071749
Fox     0.066766
WB      0.064773
Sony    0.052317
BV      0.051819
Name: studio, dtype: float64


domestic_gross
 1500000.0    0.006976
1000000.0    0.006477
1300000.0    0.005979
1100000.0    0.005481
1600000.0    0.004983
Name: domestic_gross, dtype: float64


foreign_gross
 1200000    0.011460
1100000    0.006477
4200000    0.005979
2500000    0.005481
1900000    0.005481
Name: foreign_gross, dtype: float64


year
 2010    0.153463
2011    0.144494
2012    0.121076
2014    0.116592
2013    0.099651
Name: year, dtype: float64

# Merge Imdb Data

In [ ]:
# merge basics in rating based on tconst
df_merge = pd.merge(df_imdb_basics,df_imdb_rating, on="tconst")
df_merge

In [ ]:
# drop the dublicated info column
df_merge = df_merge.drop(['tconst', 'primary_title', 'runtime_minutes'], axis=1)
df_merge

In [ ]:
# check the column
df_merge['numvotes'].head()

In [ ]:
df_merge.info()

In [ ]:
df_merge  =  df_merge[df_merge['numvotes'] > 100]
df_merge

In [ ]:
# check if data has any dublication
df_merge.duplicated().value_counts()

In [ ]:
# NaN values in the dataset
df_merge.isna().sum()

# Feature Engineering
> I create a x feature to analyze "todo"

 # Analysis

In [ ]:
import matplotlib
import matplotlib.pyplot as plt

%matplotlib inline

### Popularity of Genres

### Sales in Genres

### Cost of Movie

# Conclusion